<h2>Create new rent</h2>
<form class="bg-light rounded input-group pt-1 pb-1" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col">
      <label for="bikeName">Bike name</label>
      <input [(ngModel)]="bikeName" id="bikeName" type="text" name="bikeName" placeholder="Enter bike name" />
    </div>
    <div class="col">
      <label for="bikeType">Bike type</label>
      <select [selectedIndex]="bikeTypeIndex" class="form-select" name="bikeType" id="bikeType">
        <option *ngFor="let bicycleType of bicycleTypes">{{bicycleType.name}}</option>
      </select>
    </div>
    <div class="col">
      <label for="rentPrice">Rent price</label>
      <input [(ngModel)]="rentPrice" id="rentPrice" type="number" name="rentPrice" value="" />
    </div>

    <div class="col justify-content-center">
      <input class="btn btn-success" type="submit" name="submitRent" id="submitRent" value="Submit rent" />
    </div>
  </div>

</form>