<div class="my-5" id="addNewBicycle">
  <h2>Create new rent</h2>
  <form style="background-color: #e9eaee" class="rounded rounded-2 shadow pb-4 pt-3 px-4 mt-4" (ngSubmit)="onSubmit()">
    <div class="row align-items-center ">
      <div class="col-4">
        <label class="form-label" for="bikeName">Bike name</label>
      </div>
      <div class="col-4">
        <label class="form-label" for="bikeType">Bike type</label>
      </div>
      <div class="col-4">
        <label class="form-label" for="rentPrice">Rent price</label>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-4">
        <input class="form-control" [(ngModel)]="bikeName" id="bikeName" type="text" name="bikeName" placeholder="Enter bike name" />
      </div>
      <div class="col-4">
        <select [selectedIndex]="bikeTypeIndex" class="form-select" name="bikeType" id="bikeType">
          <option *ngFor="let bicycleType of bicycleTypes">{{bicycleType.name}}</option>
        </select>
      </div>
      <div class="col-2">
        <input class="form-control" step="any" [(ngModel)]="rentPrice" id="rentPrice" type="number" name="rentPrice" value="" />
      </div>
      <div class="col-2 d-grid">
        <input class="btn btn-block btn-success form-control" type="submit" name="submitRent" id="submitRent" value="Submit rent" />
      </div>
    </div>

  </form>
</div>

<div class="modal" id="bikeAdded">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Успіх</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        New bicycle successfully added.
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

