<h2>Create new rent</h2>
<form class="bg-light rounded input-group pt-1 pb-1">
  <div class="row">
    <div class="col">
      <label for="bikeName">Bike name</label>
      <input id="bikeName" type="text" name="bikeName" placeholder="Enter bike name" />
    </div>
    <div class="col">
      <label for="bikeType">Bike type</label>
      <select class="form-select" name="bikeType" id="bikeType">
        <option value="value">text</option>
        <option value="value">text</option>
      </select>
    </div>
    <div class="col">
      <label for="rentPrice">Rent price</label>
      <input id="rentPrice" type="number" name="rentPrice" value="" />
    </div>

    <div class="col justify-content-center">
      <input class="btn btn-success" type="submit" name="submitRent" id="submitRent" value="Submit rent" />
    </div>
  </div>
  
</form>
